body {
    margin: 0;
}

/* seccion banner*/
.banner{
    width: 100%;
    max-height: 624px;
    height: 100%;
    background-image: url(../img/desktop.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner .container{
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 121px 0;
}

.banner h1, h2{
    color: aliceblue;
    font-family: 'Helvetica Neue LT Pro';
    margin: 10px 0;
    
}

.banner h1 {
    font-size: 90px;
    line-height: 105px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
}

.banner h2{
    font-size: 50px;
    line-height: 144%;
    text-align: center;
    color: #FFFFFF;
}

.banner img {
    width: 197px;
    height: 60px;
    margin-top: 99px;

}

/* seccion problematica*/ 
.problematica{
    width: 100%;
}

.problematica .container {
    max-width: 936px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 88px auto;
    
}

.problematica h2 {
    font-size: 50px;
    color: #212121;
    padding: 20px 0;    
    text-align: center;
}

.linea {
    width: 182px;
    height: 8px;    
    background: #BFC732;
    border-radius: 31px;
    margin: 30px 0;
    
}

.problematica img {
    width: 524px;
    height: 348px;
    border-radius: 50px;
    padding: 20px 0;
}

.problematica p {
    max-width: 831px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 144%;
    text-align: center;
    color: #212121;
    padding: 20px 0;
}

/* Sección consejos */

.consejos .container .imagen{
    background-image: url(../img/consejos.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1300px;
    height: 500px;
    position: relative;
}

.consejos .container h2{
    font-size: 58px;
    line-height: 68px;
    color: #212121;
    text-align: center;
    margin-bottom: 44px;
}

.consejos .container .items{
    display: flex;
}

.consejos .container .item{
    width: 317px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 35px;
    gap: 20px;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    text-align: center;
/* position: relative;
top: 320px */
}

.consejos .container .items .item .punto{
        width: 8px;
        height: 8px;    
        background: #BFC732;
        border-radius: 50px;    
}

/* Seccion campaña */

.campania {
    /* max-width: 1339px; */
    
}

.container{
    /* max-width: 1339px;
    width: 100%; */
    
}

.campania .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 120px auto;
    align-items: center;
    /* max-width: 1339px; */
}

.campania .container h2 {
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    color: #212121;
    margin-bottom: 30px;    
}

.campania .container .campania-container-img {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.campania-container-img .axial{
    /* max-width: 616px; */
    width: calc(100% - 543px);
    margin-right: 90px;
}

.campania-container-img .img-campo{
    max-width: 543px;
    /* width: 100%; */
    /* width: calc(100% - 616px); */
}

.campania .container .campania-texto{
    /* max-width: 734px; */
}

.campania .container .campania-texto p {
    margin: 30px auto;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #212121;
}

.campania .container .botones {
    display: flex;
    justify-content: space-around;
    max-width: 1148px;
    width: 100%;
}

.campania .container .botones button{
    align-items: center;
    padding: 20px 60px;
    gap: 10px;
    width: 427px;
    height: 69px;
    background: #ED7D00;
    border-radius: 12px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.205em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

/* Beneficios */

.beneficios .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
    max-width: 770px;
    width: 100%;
}

.beneficios .container h2 {
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    color: #212121;
    margin-bottom: 30px;
}

.beneficios .container .beneficios-img {
    display: flex;
    margin-top: 30px;
}

.beneficios .container .beneficios-img .beneficio-retorno {
    max-width: 343px;
    background: #BFC732;
    border-radius: 5px;
    margin: 30px 111px 20px 0;
    gap: 25px;
    padding: 30px;
}

.beneficios .container .beneficios-img .beneficio-control {
    max-width: 316px;
    background: #BFC732;
    border-radius: 5px;
    margin: 30px 0 20px 0;
    gap: 25px;
    padding: 30px;
}

.beneficios .container .beneficios-img .beneficio-retorno .retorno {
    max-width: 125px;
}

.beneficios .container .beneficios-img .beneficio-control .control {
    max-width: 120px;
}

.beneficios .container .beneficios-img .beneficio-control h3 p {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #212121;
}

/* Contacto */

.contacto .container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #BFC732;
}

.contacto .container .text-left{
    width: calc(100% -858px);
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
gap: 28px;
}

.contacto .container .text-left p {
    font-size: 20px;
    line-height: 160%;
    color: #212121;
}

.contacto .container .text-left img {
    width: 65px;
}

.contacto .container .contacto-img {
    max-width: 858px;
    border-radius: 14px 0px 0px 14px;
}

/* Mobile */

@media screen and (max-width: 360px)  {
/* Banner  */
    .banner .container h1 {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 14px;
    }

    .banner .container h2 {
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 33px;
    }

    .banner .container img {
        width: 118px;
        
    }

    /* Problematica */
    
    .problematica .container h2 {
        font-size: 34px;
        line-height: 40px;
        text-align: center;
    }

    .linea {
        width: 182px;
    }

    .problematica .container img {
        max-width: 320px;
    }

    .problematica .container p {
        font-size: 20px;
        line-height: 144%;
        text-align: center;
        max-width: 320px;
    }

    /* Consejos  */

    .consejos .container h2 {
        font-size: 34px;
        line-height: 40px;
    }

    .consejos .container .imagen{
        background-image: none;
    }

    .consejos .container .items{
        display: flex;
        flex-direction: column;
        max-width: 286px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .consejos .container .items .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px auto;
        background: #BFC732;
        border-radius: 20px;
        padding: 20px;
    }

    .consejos .container .items .item h3{
        font-size: 22px;
        line-height: 26px;
    }

    .consejos .container .items .item img{
        max-width: 86px;
    }

    .consejos .container .items .item p{
        font-size: 22px;
        line-height: 26px;
    }

}